/* styles.css */
.col.container {
  background-image: linear-gradient(to right, rgb(7, 62, 107), rgb(58, 138, 175), rgb(41, 76, 105));
}

.list-group {
  border-radius: 20px;
  border-top: 5px solid #8f46c0;
  border-bottom: 6px solid #ca8bf5;
}

/* ... rest of your CSS styles ... */